*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: rgb(244, 244, 244);
}
nav{
  /* position: sticky; */
  top: 0;
  background: #0e3a5c;
  height: 70px;
  width: 100%;
  /* border-bottom: 2px solid white; */
  box-shadow: 0px 2px 5px 0px rgba(68, 68, 68, 0.592);
}
label.logo{
  color: white;
  font-size: 33px;
  line-height: 70px;
  margin-left: 10%;
  font-weight: bold;
  font-family: 'Oleo Script', cursive;
}

nav img{
  padding-top: 20px;
  line-height: 70px;
  
}

label.logo a{
  color: white;
  text-decoration: none;
}

label.logo a:hover{
  background-color: transparent;
}

nav ul{
  float: right;
  margin-right: 10%;
}
nav ul li{
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 16px;
  padding: 7px 13px;
  margin-left: 20px;
  border-radius: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.ahov::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1.5px;
  background: white;
  transition: 0.4s ease-out;
}

.ahov:hover::after{
  left: 0;
  width: 100%;
}

nav ul li a:hover:after{
  width: 100%;
}

a.active{
  border-bottom: 3px solid white;
  transition: .1s;
}

.active{
  border-bottom: 3px solid white;
  transition: .1s;
}

.checkbtn{
  font-size: 35px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 10%;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1030px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(244, 244, 244);
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: none;
  }
  nav ul li{
    display: block;
    line-height: 30px;
    margin-top: 70px;
    margin-left: 0px;
  }
  nav ul li a{
    font-size: 18px;
    margin-left: 0px;
    color: #0e3a5c;
  }
  a:hover{
    background: none;
    color: white;
    border-bottom: 3px solid #0e3a5c;
  }

  a.active{
    color: #0e3a5c;
    border-bottom: 3px solid #0e3a5c;
  }

  /*#check:checked ~ ul{
    left: 0;
  }*/
}

.menu{
  display: none;
  background-color: #0e3a5c;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 0px solid #06243b;
  z-index: 1;
  transition: all .5s;
  box-shadow: 2px 5px 5px grey;
}

.menu a{
  display: block;
  color: white;
  font-weight: bold;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-top: .5px solid white;

}

.plues{
  float: right;
  position: relative;
  z-index: 1;
}

.homebox{
  background-color: white;
  width: 80%;
  margin-top: 50px;
  height: 470px;
  margin-left: 10%;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px 4px rgba(207, 207, 207, 0.616);
  background-image: url(pics/p3.png);
  background-position: center center;
}

.hcontainer{

  background-color: white;
  width: fit-content;
  padding: 60px;
}

.hcontainer h4{
  color: #0e3a5c;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 13px;
}

.hcontainer h6{
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.title{
  margin: 10%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #0e3a5c;
  word-wrap: break-word;
}

.domainworld{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  box-shadow: 1px 1px 6px 4px rgba(207, 207, 207, 0.616);
  margin-bottom: 20px;
}

.infoholder{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 120px;
}

.infolink{
  height: 150px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: 49%;
}

.checkboxes{
  width: 100%;
  background-color: #0e3a5c;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
}

.checkboxes h3{
  width: fit-content;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
  float: left;
  margin-right: 20px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.selectbtn{
  outline: none;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.selectbtn:hover{
  
  background-color: rgba(255, 255, 255, 0.453);
  transition: .3s;
  cursor: pointer;
}

.selectbtn.activio {
  background-color: white;
  color: #0e3a5c;
}

.domaincolumn{
  display: inline-block;
  width: 23%;
  padding: 2%;
  margin: 12px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-left: 0px solid #0e3a5c;
  border-bottom: 3px solid #0e3a5c;
  border-right: 0px solid #0e3a5c;
  background-color: transparent;
  display: none;
  
}

.domaincolumn h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: black;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 10px;
  word-wrap: break-word;
}

.tldcol{
  color: #0e3a5c;
}

.infodomain{
  text-align: left;
  margin-bottom: 20px;
  font-size: 16px;
  color: #0e3a5c;
  font-family: Arial, Helvetica, sans-serif;
}

.domaincolumn h4{
  text-align: left;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 3px;
}

.domaincolumn .tld{
  color: #0e3a5c;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0px;
  width: fit-content;
  border: 2px solid #0e3a5c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  
}


.domaincolumn .buybtn{
  border: 0px solid #0e3a5c;
  background-color: transparent;
  outline: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  background-color: #0e3a5c;
  
}


.domaincolumn .buybtn:hover{
  background-color: #0e3a5cd7;
  transition: .3s;
  cursor: pointer;
}


.domaincolumn .visitbtn{
  border: 2px solid #0e3a5c;
  background-color: transparent;
  outline: none;
  color: #0e3a5c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  background-color: transparent;
  
}


.domaincolumn .visitbtn:hover{
  background-color: #bfbfbfd7;
  transition: .3s;
  cursor: pointer;
}

@media(max-width: 1515px){
  .domaincolumn{
    width: 46.6%;
    
  }
}

@media(max-width: 800px){
  .domaincolumn{
    width: 93%;
    border: 0px;
    border-bottom: 2px solid #0e3a5c;
    margin-bottom: 10px;
  }

  .domaincolumn .buybtn{
    margin-bottom: 20px;
  }

  .domaincolumn .visitbtn{
    margin-bottom: 20px;
  }
}

@media(min-width: 1515px){
  .domaincolumn{
    padding-left: 0px;
  }
}


@media(max-width: 535px){
  .homebox{
    background-size: contain;
    background-position: 0px 225px;
    height: 400px;
  }
}

.show {
  display: inline-block;
}

.newsletterbox{
  background-color: rgb(247, 247, 247);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 35px;
  outline: 2px solid #0e3a5c;
}

.validate{
  padding: 50px;
  width: 100%;
  margin-bottom: 50px;
  height: 250px;
  margin-left: 0%;
  background-color: white;
  border-left: 5px solid #0e3a5c;
  border-right: 5px solid #0e3a5c;
  box-shadow: 1px 1px 6px 4px rgba(207, 207, 207, 0.616);
}

.validate h2{
  color: #0e3a5c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
}

.validate label{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.asterisk{
  color: #0e3a5c;
}

#mce-EMAIL{
  outline: none;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  font-size: 14px;
  border: 1.8px solid #0e3a5c;
  margin-top: 5px;
  margin-bottom: 15px;
}

#mce-EMAIL:focus{
  border: 1.8px solid grey;
}

#mc-embedded-subscribe{
  border: 0px;
  outline: none;
  background-color: transparent;
  border: 2px solid #0e3a5c;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  color: #0e3a5c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#mc-embedded-subscribe:hover{
  background-color: #0e3a5c;
  color: white;
  transition: .2s;
  cursor: pointer;
}

.contactbox{
  height: 250px;
  padding: 50px;
  width: 98%;
  margin-bottom: 50px;
  margin-left: 5%;
  background-color: white;
  border-left: 5px solid #0e3a5c;
  border-right: 5px solid #0e3a5c;
  box-shadow: 1px 1px 6px 4px rgba(207, 207, 207, 0.616);
}

.contactbox h2{
  color: #0e3a5c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}

.contactbox p{
  margin-top: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 4px;
}


.validate input{
  display: block;
}


@media(max-width: 960px){
  .validate{
    width: 100%;
  }

  .infolink{
    width: 100%;
    height: fit-content;
  }

  .contactbox{
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .contactbox{
    width: 100%;
  }

  .validate #mce-EMAIL{
    width: 100%;
  }

  .infoholder{
    margin-bottom: 50px;
  }
}



#contactform{
  display: none;
}

.contactform{
  width: 80%;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0px;
  border-left: 5px solid #0e3a5c;
  border-right: 5px solid #0e3a5c;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 1px 1px 6px 4px rgba(207, 207, 207, 0.616);
}


.contactform button{
   color: #0e3a5c;
   border: 2px solid #0e3a5c;
   margin-right: 5px;
   background-color: transparent;
   padding: 10px;
   padding-left: 24px;
   font-size: 14px;
   padding-right: 24px;
}

.contactform input{
  display: block;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
  border: 2px solid #0e3a5c;
  color: #0e3a5c;
}

.contactform input:focus{
  outline: 1px solid #0e3a5c;
}

.contactform input::placeholder{
  color: #0e3a5c;
}

.contactform textarea{
  display: block;
  width: 80%;
  color: #0e3a5c;
  border: 2px solid #0e3a5c;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.contactform textarea:focus{
  outline: 1px solid #0e3a5c;
}

.contactform textarea::placeholder{
  color: #06243b;
}

.contactform button:hover{
  color: white;
  background-color: #0e3a5c;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.107);
  cursor: pointer;
}

#ktitle{
  margin-top: -5px;
}

.getincontact{
  color: #0e3a5c;
  border: 2px solid #0e3a5c;
  margin-right: 5px;
  background-color: transparent;
  padding: 10px;
  padding-left: 24px;
  font-size: 14px;
  padding-right: 24px;
  margin-left: 10%;
}

.getincontact:hover{
  color: white;
  background-color: #0e3a5c;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.107);
  cursor: pointer;
}

@media(max-width: 800px){

  .contactform{
    padding: 20px;
  }

  .getincontact{
    width: 80%;
    margin-bottom: 50px;
  }

  .contactform input{
    width: 100%;
  }

  .contactform textarea{
    width: 100%;
  }
}

footer{
  position: static;
  bottom: 0;
}

.footer-distributed{
  background-color: #0e3a5c;
  box-sizing: border-box;
  widows: 100%;
  text-align: left;
  font: bold 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 50px 60px 50px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 60px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  margin-left: 10%;
  width: 27%;
}

.footer-distributed h3{
  color: #ffff;
  font-size: 36px;
  font-family: 'Oleo Script', cursive;
  margin: 0;
}

.footer-distributed .footer-links{
  color: #fff;
  margin: 20px 0 12px;
  margin-bottom: 5px
}

.footer-distributed .footer-links a{
  display: inline-block;
  line-height: 1.6;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name{
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center{
  width: 26%;
}

.footer-distributed .footer-center h4{
  color: white;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid white;
  margin-top: 10px;
  padding-bottom: 4px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a{
  color: #0e3a5c;
}

.footer-distributed .footer-right{
  width: 26%;
  margin-right: 10%;
}

.footer-distributed .footer-right h4{
  color: white;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 3px solid white;
  margin-top: 10px;
  padding-bottom: 4px;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color: #92999f;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-links a:hover{
  color: rgb(218, 210, 210);
}


@media(max-width: 880px){

  .footer-distributed .footer-right h4{
    width: 100%;
    border-bottom: 0px;
  }

  .footer-distributed .footer-center h4{
    width: 100%;
    border-bottom: 0px;
  }

  .footer-distributed .footer-left, .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 0px;
  }

  .footer-distributed .footer-center{
    margin-left: 0;
  }

  .footer-distributed .footer-company-about{
    width: 70%;
    margin-left: 15%;
  }

}

@media(max-width: 800px){
  #contactcontainer{
    display: none;
  }

  .infoholder{
    margin-bottom: 0px;
  }

  .footer-distributed{
    margin-top: 0px;
  }

}



@media(min-width: 1800px){
  label.logo{
    margin-left: 15%;

  }

  .title{
    margin-left: 15%;
  }

  nav ul{
    margin-right: 15%;
  }

  .homebox{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .domainworld{
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
  }

  .infoholder{
    width: 70%;
    margin-left: 15%;
  }

  .newsletterbox{
    margin-left: 15%;
  }

  .contactform{
    width: 70%;
    margin-left: 15%;
  }

  .getincontact{
    margin-left: 15%;
  }

  .footer-distributed .footer-left{
    margin-left: 15%;
  }

  .footer-distributed .footer-left{
    width: 22%;
  }

  .footer-distributed .footer-center{
    width: 22%;
  }

  .footer-distributed .footer-right{
    width: 22%;
  }

  
}
